# Port number
PORT=3000

# Domain
API_DOMAIN=localhost
USE_PORT=true

# Security
ENFORCE_SSL=false

# URL of the Mongo DB
MONGODB_URL_TEST=mongodb://mongodb-test:27017/merchro-test
MONGODB_URL=mongodb://<username>:<password>@127.0.0.1:27017/merchro
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_DATABASE=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=

# Frontend Client App
FRONT_END_APP_URL=https://app.merchro.com
WORKSPACE_SETUP_PAGE_URL=https://app.merchro.com/hub-setup
RESET_PASSWORD_PAGE_URL=https://app.merchro.com/reset-password
WORKSPACE_HOME_PAGE_URL=https://app.merchro.com/home
USER_SIGNUP_PAGE_URL=https://app.merchro.com/user-signup


# JWT
# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=1440
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=60
# Number of minutes after which a email verification token expires
JWT_EMAIL_VERIFICATION_EXPIRATION_MINUTES=60
# Number of minutes after which a user invitation token expires
JWT_USER_INVITATION_EXPIRATION_MINUTES=60

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=support@merchro.com

# SENTRY INTEGRATION
SENTRY_DSN=
ENABLE_SENTRY_LOGGING=false

# GOOGLE INTEGRATION
GOOGLE_CLIENT_ID=

# CLOUDINARY INTEGRATION
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# WIP - Model migrations
# MIGRATE_dbConnectionUri=mongodb://127.0.0.1:27017/merchro