language: node_js
node_js:
  - '12'
services:
  - mongodb
cache: yarn
branches:
  only:
    - main
env:
  global:
    - PORT=4004
    - MONGODB_URL_TEST=mongodb://localhost:27017/merchro
    - MONGODB_URL=mongodb://localhost:27017/merchro
    - JWT_SECRET=QkzGFrd4vmSbuAXc7nK@t3930LMuzRxcYSasOAGA1
    - JWT_ACCESS_EXPIRATION_MINUTES=30
    - JWT_REFRESH_EXPIRATION_DAYS=30
script:
  - yarn lint
  - yarn test
after_success: yarn coverage:coveralls
